* {
    margin: 0;
    padding: 0;
    font-family: calibri;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.nav {
    height: 8vw;
    width: 85%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2 {
    display: flex;

}

.nav h2 {
    font-size: 2vw;
    font-weight: 700;
}

.nav .class-h4 {
    display: flex;
    gap: 2vw;
    background: linear-gradient(254deg, #FF8A00 1.55%, #FF8A00 95.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    padding-right: 8vw;

}

.nav i {

    font-size: 9vw;
    font-weight: 800;


    display: none;


}

.sign-in {
    border-radius: 100px;
    border: none;

    width: 150px;
    height: 56px;

    color: #FF8A00;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sign-in:hover {

    background-color: #FF8A00;
    color: #FFF;
}



.Login-in {
    border-radius: 100px;
    background-color: #FF8A00;

    border: none;

    display: flex;
    width: 150px;
    height: 56px;
    padding: 0px 53px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Login-in:hover {

    background-color: #FFFFFF;
    color: #FF8A00;


}

.button-part {
    display: flex;
    gap: 10px;

    align-items: center;
}

.hero {
    width: 100%;
    height: 60vh;
    background: linear-gradient(254deg, #FFC000 1.55%, #FF8A00 95.8%);
    display: flex;
    background-attachment: fixed;
    justify-content: space-between;



}

.left-hero img {
    width: 100%;
}




.custom-input {
    width: 70vw;
    height: 6vw;
    border-radius: 1vw;
    padding: 2vw;
    padding-left: 2vw;
}

.input-container {
    position: relative;
    padding-right: 4vw;
    padding-top: 4vw;
    width: 100%;
}

.button-image {
    position: absolute;
    left: 55.8vw;
    width: 15vw;
    height: 6vw;
    background: #00BCE4;
    border-radius: 1vw;
    flex-shrink: 0;
}

.text-part {
    text-align: right;
    padding-right: 3vw;
    padding-top: 4vw;

}

.Connect-with {
    color: #FFF;
    font-size: 4vw;
    font-family: 'Inter';
}

.today {
    color: #FFF;
    font-size: 4vw;
    font-family: 'Inter';

}

.social {
    color: #FFF;
    padding-top: 4vw;
    font-family: 'Inter';
}

.location {
    position: absolute;
    left: 1vw;
    padding: 1vw;
}

.box {
    margin-right: 3vw;
    width: 70vw;
    max-width: 100%;
    position: relative;
    border-radius: 2vw;



}

.box input {
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 2vw 5vw;
    border-radius: 1vw;

}

.box button {
    color: white;
    background-color: #00BCE4;
    border: none;
    padding: 1vw;
    border-radius: 1vw;
    position: absolute;
    top: 0.2vw;
    right: 0;
    width: 17vw;
    height: 4vw;

}

.box button:hover {
    background-color: #00BCE4;
}

.Pin {

    position: absolute;
    left: 3vw;

    top: 1vw;
}


.main-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(0deg, #FFF7DF 0%, #FFF7DF 100%), #FFF;
}

.main-container .left-container {
    padding: 5vw;
    width: 50%;
}

.left-container .class-h1text {
    font-size: 6vw;
    font-family: 'Inter';
    font-weight: 700;
    color: #3D3D3D;
}

.left-container li {
    list-style-type: none;
}

.left-container .Connect,
.left-container .Sign {
    width: 40vw;
    height: 4vw;
    flex-direction: column;
    align-items: center;
    border-radius: 31px;
    background: #FF8A00;
    margin-bottom: 3vw;
    color: var(--White, #FFF);
    font-family: Inter;
    font-weight: 700;
    font-size: 3vw;
    margin-left: 3vw;
    border: none;
    border-radius: 2.5vw;
}

.right-container {
    width: 50%;
}

.right-container img {
    width: 40vw;
    height: 50vw;
    padding-bottom: 12vw;
}

.centered-hr {
    width: 60%;
    margin: 0 auto;
    background-color: #FFF7DF;
    border: 1px groove rgb(37, 37, 37);
    position: absolute;
    left: 20vw;
    top: 87vw;


}

.circle-parent {
    background-color: #FFF7DF;
    padding-top: 7vw;
}

.three-circles {
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding-top: 2vw;
    position: relative;
}

.circleboxes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #FFF7DF;
    gap: 4vw;
    padding-top: 9vw;
    overflow: hidden;

}

.headeing-text {
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
}

.circle1 {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: orange;
}

.circle2 {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #FFF7DF;
    ;
    border: 2px solid orange;
}

.circle3 {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: orange;
}

.childcircle1 li {

    list-style-type: none;
    padding-left: 5vw;
    padding-top: 1vw;
    padding-right: 2vw;
    font-size: 1vw;
    color: white;
    font-family: 'overpass';
    font-weight: 300;








}

.childcircle2 li {
    list-style-type: none;
    padding-left: 4.6vw;
    padding-top: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
    color: rgb(14, 13, 13);
    font-family: 'Overpass';
    font-weight: 300;
}


.childcircle3 li {
    list-style-type: none;
    padding-left: 4.6vw;
    padding-top: 1vw;
    padding-right: 2vw;
    font-size: 1vw;
    color: white;
    font-family: 'Overpass';
    font-weight: 300;
}

.paginator {
    padding-left: 50%;
    padding-top: 4vw;
}

.long {
    position: absolute;
    top: 16vw;
    left: 15vw;
}

.short {
    position: absolute;
    top: 16vw;
    left: 39vw;
}

.hijab {
    position: absolute;
    top: 16vw;
    left: 62vw;
}

.childerchildbottom2 {
    position: absolute;
    top: 16vw;
    left: 43vw;
    list-style-type: none;
    color: black;
    font-family: 'overpass';
}

.childerchildbottom {
    position: absolute;

    list-style-type: none;
    color: rgb(247, 247, 247);
    font-family: 'overpass';
    top: 16vw;
    left: 20vw;
}

.childerchildbottom3 {
    position: absolute;
    top: 16vw;
    left: 67vw;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-family: 'overpass';
}

.last-bottom-container {
    display: flex;
    position: relative;


    width: 100%;
    height: 100%;

}

.left-secondlast {
    width: 50%;
    height: 100%;
    background-color: #FFF7DF;





}

.right-second-last {
    width: 50%;
    height: 100%;
    background-color: #FFF7DF;


}

.leftsub1 {
    list-style-type: none;

    margin: 0 auto;

    list-style-type: none;
    font-size: 2.3vw;
    color: #3D3D3D;
    font-family: 'Intern';
    font-weight: 700;
    padding-top: 4vw;
    padding-left: 18vw;

}

.leftsub2 {
    list-style-type: none;


    list-style-type: none;
    font-size: 1vw;
    color: #3D3D3D;
    font-family: 'Intern';
    font-weight: 700;
    padding-top: 4vw;

    padding-left: 18vw;






}

.bottom-points-parent {


    padding-top: 10vw;








}

.bottom-points {
    display: flex;
    list-style-type: none;
    padding-left: 15vw;

    padding-top: 2vw;

}

.Ellipse16 {
    width: 58vw;
    height: 47vw;
    position: absolute;
    left: 40vw;
    z-index: 60vw;

}

.short-headline {
    padding-left: 2vw;
}


.loremipsum {

    padding-left: 7vw;

}

.short-headlin3 {
    padding-left: 3.1vw;
}

.bootom-points-main {

    padding-top: 7vw;
}

.right-section-input {

    padding-top: 24vw;
    padding-left: 13vw;

    position: relative;
    z-index: 2;

}

.name {
    padding-top: 2vw;
}

.name input {
    width: 400px;
    height: 57px;
    background-color: white;
    border-radius: 3vw;

}




.name button {
    width: 400px;
    height: 50px;
    font-size: 16px;
    border-radius: 3vw;
    background-color: #FF8A00;
    color: #FFFFFF;
    border: none;
}

.service {
    list-style-type: none;
    padding-left: 1vw;
    padding-top: 2vw;
    font-family: 'Inter';
    font-weight: 600;
}

.short-headline1 {
    padding-left: 4vw;
}

.Vector {


    position: absolute;
    left: 58vw;
    top: 7vw;
    z-index: -7;
}

.Ellips11 {
    position: absolute;
    left: 70vw;
    top: 4vw;

    transform: rotate(20deg);
}

.ruler {
    position: absolute;
    width: 7vw;
    left: 80vw;
    top: 6vw;
    z-index: -2vw;
    transform: rotate(60deg);
}

.pencil {
    position: absolute;
    width: 7vw;
    left: 90vw;
    width: 3vw;
    top: 14vw;

    z-index: - 40vw;
    transform: rotate(60deg);
}

.tshirt {
    position: absolute;
    width: 7vw;
    left: 55vw;
    width: 3vw;
    top: 14vw;
    z-index: - 8vw;
    transform: rotate(60deg);
}

.notebook {
    position: absolute;
    width: 7vw;
    left: 80vw;
    width: 3vw;
    top: 14vw;
    z-index: - 8vw;
    transform: rotate(60deg);
}

.jn {
    position: absolute;
    width: 7vw;
    left: 70vw;

    top: 13vw;


}


.footer {


    padding-top: 8vw;
    width: 100%;

    background: linear-gradient(254deg, #FFC000 5.48%, #FF8A00 95.8%);

}

.link-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    gap: 10vw;
    color: white;
    /* margin-left:  10vw; */
    /* margin-top: 0.3vw;  */

}

.first {
    list-style: none;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 32px;
    padding-right: 6vw;
}

.link-1 {
    list-style-type: none;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 32px;
    gap: 2vw;

}

.second {

    list-style-type: none;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 32px;
    padding-right: 6vw;
}

.link-1-1 {
    list-style-type: none;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 32px;
    padding: 0;
}


.link1-container {
    display: flex;

}




.email-placeholder {
    position: relative;
    margin-right: 5vw;
    width: 30%;
    height: 20vh;

}


.Man {
    width: 5vw;
    height: 6vw;
    position: absolute;
    left: -5vw;
}

.greater-than {
    width: 4vw;
    height: 4vw;
    font-size: 2.5vw;
    color: white;
    background-color: #FF8A00;
    position: absolute;
    left: 32vw;
    top: 0.1vw;
    border: none;
}

.greater button {
    font-size: 3vw;
    position: absolute;
    bottom: -2vw;
    right: 1vw;
    left: -3vw;
    color: rgb(255, 255, 255);
}

.join-news {
    font-size: 4vw;
    list-style-type: none;
    font-family: 'Inter';
    font-weight: 600;

}


input {
    margin-top: 0.2vw;
    width: 37vw;
    height: 4vw;
    border: 0.2vw solid white;
}

.hr-container {
    margin-top: 3vw;
}

.hr-container hr {

    width: 80%;

    border: 2px solid #FF8A00;
    margin: 0 auto;
}

.last-footer {
    margin: 2vw;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 7vw;
    width: 90%;
    height: 100%;
}

.jayda-logo-small {
    width: 16vw;
    height: 3vw;
}

.twitter {

    width: 4vw;
    height: 3vw;
}

p {

    width: 10vw;
    height: 3vw;
    font-family: 'Inter';
    font-size: 1vw;
}

@media(max-width:425px) {
    .main .nav .class-h4 {
        display: none;
    }

    .main .nav .button-part {
        display: none;
    }

    .main .nav .ri-menu-line {
        display: block;
    }

    .nav h2 img {
        width: 23vw;
        height: 6vw;
    }

    .hero {

        padding-top: 20vw;

    }

    .hero .left-hero img {

        display: none;

    }

    .Connect-with {
        font-size: 14vw;

    }

    .today {
        font-size: 14vw;
    }



    .Pin {

        top: 3vw;
        left: 0.0vw;
        width: 3vw;
    }

    .box {
        width: 80vw;
        margin: 0 auto;
    }

    .box input {
        width: 100%;

        font-size: 3vw;
        padding: 3.5vw;
    }

    .box button {
        padding: 5.4vw;
    }

    .left-container .class-h1text {
        font-size: 10vw;
        font-weight: 700;
        font-family: 'Inter';

    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .main-container .left-container {
        width: 80%;
        text-align: center;
        margin-bottom: 4vw;
    }

    .right-container {
        width: 80%;
        text-align: center;
    }

    .left-container .Connect,
    .left-container .Sign {
        width: 80%;
        height: 9vw;
        gap: 5vw;
        margin-bottom: 4vw;
        font-size: 8vw;
        border-radius: 4vw;
    }

    .right-container img {
        width: 80%;
        height: auto;
    }

    .centered-hr {
        width: 80%;
        margin-top: 2vw;
        top: 260vw;
        margin: 0 auto;
        width: 55vw;
    }


    .circle-parent {
        flex-direction: column;
    }

    .three-circles {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    }

    .circle1 {
        width: 90vw;
        height: 90vw;
        border-radius: 50%;
        position: relative;

    }

    .circle2 {

        width: 90vw;
        height: 90vw;
        border-radius: 50%;
        position: relative;

    }

    .circle3 {

        width: 90vw;
        height: 90vw;
        border-radius: 50%;
        position: relative;

    }

    .long {
        position: absolute;
        top: 55vw;
        left: 0.4vw;
    }

    .short {
        position: absolute;
        top: 55vw;
        left: 0.4vw;
    }


    .hijab {
        position: absolute;
        top: 55vw;
        left: 0.4vw;
    }

    .childcircle1 li {

        position: relative;
        top: 3vw;

        font-size: 5vw;

        padding-left: 13vw;

    }


    .childcircle2 li {
        position: relative;
        top: 3vw;

        font-size: 5vw;

        padding-left: 13vw;
    }


    .childcircle3 li {
        position: relative;
        top: 3vw;

        font-size: 5vw;

        padding-left: 13vw;
    }

    .childerchildbottom {

        top: 62vw;
    }

    .childerchildbottom2 {
        top: 62vw;
        left: 16vw;
    }

    .childerchildbottom3 {

        top: 62vw;
        left: 18vw;
    }

    .paginator {

        padding-left: 38vw;
    }

    .last-bottom-container {
        width: 100%;
        height: 100;

    }

    .right-second-last {
        width: 50%;
        height: 100%;
        flex-direction: column;
    }

    .last-bottom-container {
        flex-direction: column;
    }

    .left-secondlast {
        width: 100%;
        height: 100%;
    }

    .right-second-last {
        width: 100%;
        height: 100%;
    }


    .bottom-points {

        display: block;
        padding-top: 3vw;

    }

    .bottom-points-parent {


        display: block;
    }

    .short-headline {
        display: block;
    }

    .lorem-ipsum {
        display: block;
    }

    .shortheadline {
        display: ;
    }

    .leftsub1 {

        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .leftsub1 li {
        font-size: 6vw;
        padding-left: 4vw;
        margin: 0 auto;
    }

    .leftsub2 {

        padding-top: 2vw;
        font-size: 3vw;
        padding-left: 10vw;
    }

    .right-section-input {

        padding-top: 7vw;
    }

    .name {

        width: 65vw;

        padding-top: 7vw;

        margin: 0 auto;

    }

    .email {

        width: 65vw;

        padding-top: 7vw;

        margin: 0 auto;
        display: block;

    }

    .right-section-input {
        padding-bottom: 7vw;
    }

    .name input {
        width: 60vw;
        height: 40px;
    }

    .name button {
        width: 60vw;
        height: 40px;
    }

    .Ellipse16 {
        display: none;
    }

    .Vector,
    .Ellips11,
    .ruler,
    .pencil,
    .tshirt,
    .notebook,
    .jn {
        display: none;

    }



    .last-footer {
        width: 95%;
        margin: 0;
    }

    .last-footer p {
        width: 30%;
    }

    .footer {
        flex-direction: column;
    }

    .link-container {

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first {
        margin-top: 70vw;
        font-size: 7vw;
        list-style-type: none;
    }

    .second {
        list-style-type: none;
        font-size: 7vw;
        padding-top: 2vw;
    }

    .link-1 {
        font-size: 7vw;

        margin-top: 4vw;

    }

    .join-news {

        font-size: 6vw;

    }

    input {

        width: 60vw;
        height: 11vw;
    }


    .Man {

        width: 11vw;
        height: 11vw;

        left: -12vw;
    }

    hr {
        margin-top: 4vw;
        width: 70vw;


    }

    .jayda-logo-small {
        width: 16vw;
        height: 5vw;

    }

    .twitter {

        width: 16vw;
        height: 9vw;
    }

    p {

        font-size: 4vw;


    }

    .greater-than {

        top: 0.2vw;
        width: 12vw;
        height: 11vw;
        left: 45vw;
        font-size: 7vw;
    }

    .right-footer {

        padding-left: 19vw;
    }

    .link1-container {
        display: block;
    }

}